{% extends 'core/base.html' %}

{% block content %}
<div class="app-content-header">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
            <div class="col-sm-6"><h3 class="mb-0">Expenses</h3></div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-end">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">List of Expenses</li>
                </ol>
            </div>
        </div>
        <!--end::Row-->
    </div>
    <!--end::Container-->
</div>
<!--end::App Content Header-->
<!--begin::App Content-->
<div class="app-content">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-12">
                    <div class="card-header position-relative" style="min-height: 60px;">
                        <h3 class="card-title">List of Expenses</h3>
                        <!-- Bottom-left dropdown -->
                        <div class="btn-group position-absolute" style="bottom: 25px; left: 10px;">
                            <button type="button" class="btn btn-warning">Choose Category</button>
                            <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="visually-hidden">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
{#                                {% for category in categories %}#}
{#                                    <li>#}
{#                                        <a class="dropdown-item"#}
{#                                           href="{% url 'list_expenses' %}?category=#}
{#                                                   {{ category.name }}{% if current_filter %}&filter={{ current_filter }}{% endif %}{% if start_date %}&start={{ start_date }}{% endif %}{% if end_date %}&end={{ end_date }}{% endif %}">#}
{#                                            {{ category.name }}#}
{#                                        </a>#}
{#                                    </li>#}
{#                                {% endfor %}#}
                                {% for category in categories %}
                                    <li><a class="dropdown-item"
                                           href="{% url 'list_expenses' %}?category={{ category.name }}">{{ category.name }}</a>
                                    </li>
                                {% endfor %}
                                <li><a class="dropdown-item" href="/list-expenses">all</a></li>
                            </ul>
                        </div>
                        <div class="btn-group mb-3" role="group" aria-label="Date filters">
                            <a href="?filter=today{% if current_category %}&category={{ current_category }}{% endif %}">
                                <button type="button"
                                        class="btn btn-outline-primary {% if current_filter == 'today' %}active{% endif %}">
                                    Today
                                </button>
                            </a>

                            <a href="?filter=week{% if current_category %}&category={{ current_category }}{% endif %}">
                                <button type="button"
                                        class="btn btn-outline-primary {% if current_filter == 'week' %}active{% endif %}">
                                    This Week
                                </button>
                            </a>

                            <a href="?filter=month{% if current_category %}&category={{ current_category }}{% endif %}">
                                <button type="button"
                                        class="btn btn-outline-primary {% if current_filter == 'month' %}active{% endif %}">
                                    This Month
                                </button>
                            </a>

                            <!-- Reset -->
                            <a href="

                                    {% url 'list_expenses' %}{% if current_category %}?category={{ current_category }}{% endif %}">
                                <button type="button" class="btn btn-outline-secondary">Clear Date</button>
                            </a>
                        </div>
                        <div>
                            <form method="get" class="row g-2 align-items-end mb-3">
                                <!-- Preserve category when submitting -->
                                {% if current_category %}
                                    <input type="hidden" name="category" value="{{ current_category }}">
                                {% endif %}

                                <div class="col-auto">
                                    <label class="form-label small">Start</label>
                                    <input type="date" name="start" class="form-control" value="{{ start_date }}">
                                </div>

                                <div class="col-auto">
                                    <label class="form-label small">End</label>
                                    <input type="date" name="end" class="form-control" value="{{ end_date }}">
                                </div>

                                <div class="col-auto">
                                    <button type="submit" class="btn btn-success">Apply</button>
                                </div>

                                <div class="col-auto">
                                    <a href="
                                            {% url 'list_expenses' %}{% if current_category %}?category={{ current_category }}{% endif %}"
                                       class="btn btn-link">Reset</a>
                                </div>
                            </form>
                        </div>
                        <div style="text-align: right;">
                            <a href="{% url 'add_expense' %}">
                                <button type="button" class="btn btn-primary mb-2">
                                    Add Expense
                                </button>
                            </a>
                        </div>
                        <div style="text-align: right;">
                            <a href="{% url 'download_expenses_pdf' %}">
                                <button type="button" class="btn btn-primary mb-2">
                                    Download Expenses
                                </button>
                            </a>
                        </div>
                    </div>

                    <!-- /.card-header -->
                    <div class="card-body">
                        <table class="table table-bordered table-striped align-middle">
                            <thead class="table-secondary">
                            <tr>
                                <th>S No.</th>
                                <th>Name</th>
                                <th>Amount</th>
                                <th>Category</th>
                                <th>Date</th>
                                <th>Tags</th>
                                <th>Actions</th>
{#                                <th>Updated At</th>#}
                            </tr>
                            </thead>
                            <tbody>
                                {% for expense in expenses %}
                            <tr>
                                <td> {{ forloop.counter }} </td>
                                <td>{{ expense.name }}</td>
                                <td>{{ expense.amount }}</td>
                                <td>{% if expense.category %}
                                    <b><span {% if expense.category.name == "Travelling" %}style="color: red" {% endif %}>{{ expense.category.name }}</span></b>
                                    {% else %}
                                     -
                                {% endif %}</td>
                                <td>{{ expense.created_at }}</td>
                                <td>
                                    {% for tag in expense.tags.all %}

                                        <span class="badge rounded-pill text-bg-info">{{ tag.name }}</span>
                                        {% endfor %}

                                </td>
                                {#                                <td>{{ expense.created_at }}</td>#}
                                {#                                <td>{{ expense.updated_at }}</td>#}
                                <td>
                                    <a href="{% url 'delete_expense' expense.id %}">
                                        <button type="button" class="btn btn-danger mb-2">
                                            Delete
                                        </button>
                                    </a>
                                    <a href="{% url 'edit_expense' expense.id %}">
                                        <button type="button" class="btn btn-info mb-2">
                                            Edit
                                        </button>
                                    </a>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="8" class="text-center text-muted py-4">No expenses found.</td>
                            </tr>

                            {% endfor %}
                            </tbody>
                        </table>


                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!--end::Row-->
    </div>
    <!--end::Container-->
</div>
{% endblock %}
